﻿@using DataAccess.Model
@model IList<DataAccess.Model.Systems>
@{
    ViewBag.Title = "Index";
}

<h2>Nastavení carouselu</h2>


@foreach (Systems s in Model)
{

    Html.RenderAction("Pohled", new { s.Id });
}



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">

            <h2>Generování VIP kódu</h2>

        </div>

        <div class="col-lg-2">
            
            <a href="@Url.Action("AddCode")" class="btn btn-primary">Vytvořit nový VIP kód</a>

        </div>

    </div>
</div>


<table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th>Code ID</th>
        <th>Code</th>
        <th>Akce</th>

        

    </tr>
    </thead>
    <tbody>

    @foreach (Code b in ViewBag.Code)
    {
        <tr>

            <td>@b.Id</td>
            <td>@b.Scode</td>
            <td>@Html.ActionLink("Smazání", "Delete", "Options", new { id = b.Id }, new { onclick = "return confirm('Přejete si opravdu kód smazat?');" })
            </td>

         
        </tr>
    }



    </tbody>
</table>
