﻿
@{
    ViewBag.Title = "Main";
}

<h2>Sekce pro Administrátora</h2>
<hr>
<p>Zde najdete veškeré potřebné věci ke kompletní správě webu a všech jeho funkčností.</p>
<p><small>V případě nefunkčnosti některé z částí, prosím kontaktujte naše IT oddělení.</small></p>

