﻿@using DataAccess.Model
@model ImageAuto

@{
    ViewBag.Title = "Edit";
}

@Html.ValidationSummary()

@using (Html.BeginForm("Update", "Gallery", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(Id => Model.Id)

    <div class="form-group">
        <label class="control-label col-sm-2">Fotografie:</label>
        <div class="col-sm-10">
            <input type="file" name="img" />

        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Automobil:</label>
        <div class="col-sm-10">

            @Html.DropDownListFor(x => x.Auto.Id, new SelectList(ViewBag.Auto, "Id", "ModelAZnacka"), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Automobil:</label>
        <div class="col-sm-10">

            @Html.CheckBoxFor(x => x.SIsFirst)       
        
            </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" onclick="return confirm('Přejete si opravdu provést změny?')">Potvrdit</button>
        </div>
    </div>


}