﻿@using DataAccess.Model
@model IList<Auto>


@{
    ViewBag.Title = "Index";
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Automobil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent">

            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h1>Výpis Aut</h1>
        </div>
        <div class="col-lg-4">
       
            @using (Html.BeginForm("SearchCar", "Database", FormMethod.Post, new { @class = "nav-item" }))
            {

                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Vyhledat auto" name="phrase" id="searchBox" />
                        <span class="mx-2">
                            <input type="submit" value="Hledat" class="btn btn-primary my-2 my-sm-0" />

                        </span>
                    </div>
                </div>

            }
        </div>

            <div class="col-lg-3">
            @Ajax.ActionLink("Přidat auto", "AddA",null, new AjaxOptions() {UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"}, new {@class = "btn btn-primary container"})
                </div>
        
            
    </div>
</div>


<div class="clearfix"></div>

<table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th>Obrázek</th>
        <th>Id</th>
        <th>Model a značka</th>
        <th>Cena</th>
        <th>Barva</th>
        <th>Akce</th>


    </tr>
    </thead>
    <tbody>
    @foreach (Auto a in Model)
    {
        <tr>
            <td>
                @{Html.RenderAction("ImageRender", "Database", new { a.Id });}
            </td>
            <td>@a.Id</td>
            <td>@a.ModelAZnacka</td>
            <td>@a.Cena.ToString("C0")</td>
            <td>@a.Barva</td>
            <td>
                @Ajax.ActionLink("Editace", "EditA", new { id = a.Id }, new AjaxOptions() {UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"})
                @Html.ActionLink("Smazání", "DeleteA", "Database", new {id = a.Id}, new {onclick = "return confirm('prejete si opravdu smazat auto " + a.Model + "');"})
            </td>

        </tr>
    }
    </tbody>
</table>

<script type="text/javascript">
    function openModalWindow() {
        $('#myModal').modal({
            show: true
        });
    }
</script>