﻿@using DataAccess.Model
@model DataAccess.Model.Pobocka

<p>
    <strong>Název:</strong>
</p>
<p>
    @Model.Nazev
</p>

<p>
    <strong>Interní popisné číslo</strong>
</p>
<p>
    @Model.Cp
</p>

<p>
    <strong>Počet volných míst</strong>
</p>
<p>
    @Model.PocetVolnychMist
</p>
<p>
    <strong>Celková kapacita</strong>
</p>
<p>
    @Model.CelkovaKapacita
</p>
<p>
    <strong>Region</strong>
</p>
<p>
    Kraj: @Model.Region.Nazev<br>
    @Model.Region.Ulice<br>
    @Model.Region.Psc.Psc
</p>