﻿@model DataAccess.Model.Prislusenstvi

<p><strong>Identifikátor:</strong>
</p>
<p>
    @Model.Id
</p>
<p><strong>Název produktu:</strong></p>
<p>
    @Model.Nazev
</p>


<p><strong>Popis produktu:</strong>
    </p>
<p>
    @Model.Popis
</p>

