﻿@using DataAccess.Model
@model DataAccess.Model.Objednavka

<p>
    <strong>Zákazník:</strong>
</p>
<p>
    @Model.Zakaznik.Jmeno @Model.Zakaznik.Prijmeni
</p>
<p>@Model.Zakaznik.Email</p>
<p> @Model.Zakaznik.Pohlavi</p>


<p>
    <strong>Datum objednávky</strong>
    @Model.Datum.Day. @Model.Datum.Month. @Model.Datum.Year
</p>

<p><strong>Zaměstnanec:</strong></p>
<p>
    @Model.Zamestnanec.Jmeno @Model.Zamestnanec.Prijmeni
</p>
<p><strong>Zaměstnanec - Pobočka:</strong></p>
<p>@Model.Zamestnanec.Pobocka.Nazev</p>

<p><strong>Automobil:</strong></p>
@if (Model.Auto != null)
{
    <p>Model: @Model.Auto.Znacka.Sznacka @Model.Auto.Model</p>
    <p>Cena: @Model.Auto.Cena.ToString("C0") </p>
    <p>Pobočka: @Model.Auto.Pobocka.Nazev</p>
}
else
{
    <p>Auto zde není</p>
}

<p><strong>Příslušenství:</strong></p>
<p>
    @if (Model.Prislusenstvi != null)
    {
        @Model.Prislusenstvi.Nazev
    }
    else
    {
    <p>Nemá žádné příslušenství</p>
}</p>