﻿@using DataAccess.Model
@model DataAccess.Model.TestovaciJizda

<h2>
    <strong>Editace:</strong>
</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("UpdateT", "Database", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(Id => Model.Id)


    <div class="form-group ">
        <label class="control-label col-sm-2">Popis:</label>
        <div class="col-sm-10">

            @Html.TextAreaFor(x => x.Popis, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Popis)


        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Datum:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Datum, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Datum)


        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Délka jízdy minut:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Delka, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Delka)

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Zaměstnanec:</label>
        <div class="col-sm-10">

            @Html.DropDownListFor(x => x.Zamestnanec.Id, new SelectList(ViewBag.Zam, "Id", "JmenoAPrijmeni"), new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Registrovaný zákazník:</label>
        <div class="col-sm-10">

            @Html.DropDownListFor(x => x.ZakaznikRegistrovany.Id, new SelectList(ViewBag.Reg, "Id", "Zakaznik.JmenoAPrijmeni"), new { @class = "form-control" })

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-2">Auto:</label>
        <div class="col-sm-10">

            @Html.DropDownListFor(x => x.Auto.Id, new SelectList(ViewBag.Aut, "Id", "ModelAZnacka"), new { @class = "form-control" })

        </div>
    </div>





    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" onclick="return confirm('Přejete si opravdu provést změny?')">Potvrdit</button>
        </div>
    </div>
}