﻿@using DataAccess.Model
@model DataAccess.Model.Prislusenstvi

<h2>
    <strong>Editace:</strong>
</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("UpdatePr", "Database", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(Id => Model.Id)
    <p>
        <strong>ID příslušenství:</strong>
        @Model.Id
    </p>


    <div class="form-group ">
        <label class="control-label col-sm-2">Název:</label>
        <div class="col-sm-10">

           @Html.TextBoxFor(x => x.Nazev, new {@class="form-control"})
            @Html.ValidationMessageFor(x => x.Nazev)


        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Popis:</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.Popis, new { @class = "form-control", rows = "10" })
            @Html.ValidationMessageFor(x => x.Popis)
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" onclick="return confirm('Přejete si opravdu provést změny?')">Upravit</button>
        </div>
    </div>



}