﻿@using DataAccess.Model
@model DataAccess.Model.Auto

<h2>
    <strong>Editace:</strong>
</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("UpdateA", "Database", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(Id => Model.Id)


    <div class="form-group">
        <label class="control-label col-sm-2">Značka:</label>
        <div class="col-sm-10">

            @Html.DropDownListFor(x => x.Znacka.Id, new SelectList(ViewBag.Znacka, "Id", "Sznacka", Model.Znacka.Id), new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Model:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Model, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Model)


        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Max rychlost:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.MaxRychlost, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.MaxRychlost)


        </div>
    </div>
    <div class="form-group ">
        <label class="control-label col-sm-2">Cena:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Cena, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Cena)


        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Najeto KM:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Najeto, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Najeto)


        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Palivo:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Palivo, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Palivo)


        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Popis:</label>
        <div class="col-sm-10">

            @Html.TextAreaFor(x => x.Popis, new { @class = "form-control", rows = 10 })
            @Html.ValidationMessageFor(x => x.Popis)


        </div>
    </div>


    <div class="form-group ">
        <label class="control-label col-sm-2">Rok výroby:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.RokVyroby, new { @class = "form-control"})
            @Html.ValidationMessageFor(x => x.RokVyroby)


        </div>
    </div>



    <div class="form-group ">
        <label class="control-label col-sm-2">Typ karoserie:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.TypKaroserie, new { @class = "form-control"})
            @Html.ValidationMessageFor(x => x.TypKaroserie)


        </div>
    </div>



    <div class="form-group ">
        <label class="control-label col-sm-2">Objem motoru:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Objem, new { @class = "form-control" })


        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Výkon:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Vykon, new { @class = "form-control"})
            @Html.ValidationMessageFor(x => x.Vykon)

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-2">Barva:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Barva, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Barva)

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-2">Země:</label>
        <div class="col-sm-10">

            @Html.DropDownListFor(x => x.Zeme.Id, new SelectList(ViewBag.Zeme, "Id", "ZemePuvodu", Model.Zeme.Id), new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Faktura od firmy:</label>
        <div class="col-sm-10">

            @Html.DropDownListFor(x => x.Faktura.Id, new SelectList(ViewBag.Faktura, "Id", "Firma", Model.Faktura.Id), new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Pobočka:</label>
        <div class="col-sm-10">

            @Html.DropDownListFor(x => x.Pobocka.Id, new SelectList(ViewBag.Pobocka, "Id", "Nazev", Model.Pobocka.Id), new { @class = "form-control" })

        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" onclick="return confirm('Přejete si opravdu provést změny?')">Potvrdit</button>
        </div>
    </div>



}