﻿@using DataAccess.Model
@model DataAccess.Model.Pobocka

<h2>
    <strong>Editace:</strong>
</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("UpdateP", "Database", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(Id => Model.Id)

    <div class="form-group ">
        <label class="control-label col-sm-2">Název:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Nazev, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Nazev)


        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Počet volných míst:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.PocetVolnychMist, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PocetVolnychMist)


        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Interní číslo pobočky:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Cp, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Cp)


        </div>
    </div>
    <div class="form-group ">
        <label class="control-label col-sm-2">Celková kapacita:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.CelkovaKapacita, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CelkovaKapacita)


        </div>
    </div>


    <div class="form-group ">
        <label class="control-label col-sm-2">Náleží do regionu:</label>
        <div class="col-sm-10">

            @Html.DropDownListFor(x =>x.Region.Id, new SelectList(ViewBag.Region, "Id", "Nazev", Model.Region.Id), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Potvrdit</button>
        </div>
    </div>

}