﻿@using DataAccess.Model
@model DataAccess.Model.Objednavka

<h2>
    <strong>Editace:</strong>
</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("UpdateO", "Database", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(Id => Model.Id)
    @Html.HiddenFor(Datum => Model.Datum)


    <p>
        <strong>ID objednávky:</strong>
        @Model.Id
    </p>
    <p>
        <strong>Datum objednávky:</strong>
        @Model.Datum.Day. @Model.Datum.Month. @Model.Datum.Year
    </p>


    <div class="form-group ">
        <label class="control-label col-sm-2">Automobil:</label>
        <div class="col-sm-10">

            @if (Model.Auto != null)
            {
                @Html.DropDownList("Auto.Id", new SelectList(ViewBag.Auto, "Id", "ModelAZnacka", Model.Auto.Id), new { @class = "form-control" })
            }
            else
            {
                <p>Uživatel nemá ve své objednávce automobil</p>

            }

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Zaměstnanec:</label>
        <div class="col-sm-10">

            @Html.DropDownList("Zamestnanec.Id", new SelectList(ViewBag.Zam, "Id", "JmenoAPrijmeni", Model.Zamestnanec.Id), new { @class = "form-control" })

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-2">Zákazník:</label>
        <div class="col-sm-10">

            @Html.DropDownList("Zakaznik.Id", new SelectList(ViewBag.Zak, "Id", "JmenoAPrijmeni", Model.Zakaznik.Id), new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Příslušenství:</label>
        <div class="col-sm-10">

            @if (Model.Prislusenstvi != null)
            {
                @Html.DropDownList("Prislusenstvi.Id", new SelectList(ViewBag.Pri, "Id", "Nazev", Model.Prislusenstvi.Id), new { @class = "form-control" })
            }
            else
            {
                <p>Uživatel nemá ve své objednávce příslušenství</p>
            }

        </div>
    </div>



    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" onclick = "return confirm('Přejete si opravdu provést změny?')">Upravit</button>
        </div>
    </div>



}