﻿@using DataAccess.Model
@model ImageUser

@{
    ViewBag.Title = "title";
    Layout = null;
}

@if (!string.IsNullOrEmpty(Model.ImageName))
{
    <img src="@Url.Content("~/img/img_users/" + Model.ImageName)" width="200"/>
}
else
{
    <p>Chybí foto</p>
}