﻿@using DataAccess.Model
@model IList<Pobocka>


@{
    ViewBag.Title = "Index";
}



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail pobočky</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent">

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <h1>Výpis poboček</h1>
        </div>
        <div class="col-lg-3">
            @Ajax.ActionLink("Nová pobočka", "AddP",new{}, new AjaxOptions() {UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"}, new {@class = "btn btn-primary container"})

        </div>
    </div>
</div>

<div class="clearfix"></div>

<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kapacita</th>
            <th>Číslo popisné</th>
            <th>Název</th>
            <th>Počet volných míst</th>
            <th>Město</th>
            <th>Ulice</th>
            <th>Akce</th>



        </tr>
    </thead>
    <tbody>
        @foreach (Pobocka a in Model)
        {
            <tr>
                <td>
                    @Ajax.ActionLink(a.Id.ToString(),"DetailP", new { id = a.Id }, new AjaxOptions() { UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"}, new{ @class="btn btn-primary container"})
                </td>
                <td>@a.CelkovaKapacita</td>
                <td>@a.Cp</td>
                <td>@a.Nazev</td>
                <td>@a.PocetVolnychMist</td>
                <td>@a.Region.Nazev</td>
                <td>@a.Region.Ulice</td>

                <td>
                    @Ajax.ActionLink("Editace", "EditP", new { id = a.Id }, new AjaxOptions() { UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"})
                    @Html.ActionLink("Smazat", "DeleteP", "Database", new {id = a.Id}, new {onclick = "return confirm('prejete si opravdu smazat knihu " + a.Id + "');"})
                </td>

            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    function openModalWindow() {
        $('#myModal').modal({
            show: true
        });
    }
</script>