﻿@using DataAccess.Model
@model IList<TestovaciJizda>


@{
    ViewBag.Title = "Index";
}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent">

            </div>
        </div>
    </div>
</div>



<h1>Výpis testovacích jízd</h1>



<div class="clearfix"></div>

<table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Značka</th>
        <th>Datum</th>
        <th>Délka jízdy</th>
        <th>Zákazník</th>
        <th>Popis</th>
        <th>Akce</th>



    </tr>
    </thead>
    <tbody>
    @foreach (TestovaciJizda a in Model)
    {
        <tr>
            <td> @Ajax.ActionLink(a.Id.ToString(),"DetailT", new { id = a.Id }, new AjaxOptions() { UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"}, new{ @class="btn btn-primary container"})
            </td>
            <td>@a.Auto.Model</td>
            <td>@a.Auto.Znacka.Sznacka</td>
            <td>@a.Datum.Day/@a.Datum.Month/@a.Datum.Year</td>
            <td>@a.Delka minut</td>
            <td>@a.ZakaznikRegistrovany.Zakaznik.Jmeno @a.ZakaznikRegistrovany.Zakaznik.Prijmeni</td>
            <td>@a.Popis</td>

            <td>
                @Ajax.ActionLink("Editace", "EditT", new {a.Id}, new AjaxOptions() {UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"})
                @Html.ActionLink("Smazání", "DeleteT", "Database", new {id = a.Id}, new {onclick = "return confirm('prejete si opravdu smazat knihu " + a.Id + "');"})
            </td>

        </tr>
    }
    </tbody>
</table>

<script type="text/javascript">
    function openModalWindow() {
        $('#myModal').modal({
            show: true
        });
    }
</script>