﻿@using DataAccess.Model
@model ImageUser

@{
    ViewBag.Title = "Edit";
}

@Html.ValidationSummary()

@using (Html.BeginForm("UpdateO", "AdminOptions", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(Id => Model.Id)
    @Html.HiddenFor(Zakaznik => Model.Zakaznik.Id)

    <div class="form-group">
        <label class="control-label col-sm-2">Fotografie:</label>
        <div class="col-sm-10">
            <input type="file" name="img" />

        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImageName))
            {
            <img src="@Url.Content("~/img/img_users/" + Model.ImageName)" width="300px" />

            }
            else
            {
                <p>Nemá žádný obrázek</p>
            }
        </div>
    </div>




    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" onclick="return confirm('Přejete si opravdu provést změny?')">Potvrdit</button>
        </div>
    </div>


}