﻿@using DataAccess.Model
@model DataAccess.Model.Zakaznik
@{
    IList<string> pohl = new List<string>();
    pohl.Add("Muž");
    pohl.Add("Žena");

}



<h2>
    <strong>Editace:</strong>
</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("UpdateI", "AdminOptions", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(Id => Model.Id)
    @Html.HiddenFor(Psc => Model.Psc.Id)
    @Html.HiddenFor(Password => Model.Password)
    @Html.HiddenFor(Opravneni => Model.Opravneni.Sopravneni)
    @Html.HiddenFor(Opravneni => Model.Opravneni.Id)






    <div class="form-group ">
        <label class="control-label col-sm-2">Jméno:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Jmeno, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Jmeno)


        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Přijmení:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Prijmeni, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Prijmeni)


        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-sm-2">Pohlaví:</label>
        <div class="col-sm-10">

            @Html.DropDownListFor(x => x.Pohlavi, new SelectList(pohl), new { @class = "form-control" })


        </div>
    </div>
    <div class="form-group ">
        <label class="control-label col-sm-2">Uživatelské jméno:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Email)


        </div>
    </div>



    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Potvrdit</button>
        </div>
    </div>

}