﻿@model DataAccess.Model.Zakaznik

@{
    ViewBag.Title = "title";
}

@if (TempData["message-success"] != null)
{
    <div class="alert alert-success">
        <strong>Výborně!</strong> Operace proběhla úspěšně.
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <strong>Jejda!</strong> Jejda, prosím zkontrolujte vaše údaje.
    </div>
}


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent">

            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>


<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <p>
                @if (!string.IsNullOrEmpty(ViewBag.Foto))
                {
                    <img src="@Url.Content("~/img/img_users/" + ViewBag.Foto)" width="100%" />

                }
                else
                {
                    if (Model.Pohlavi.Equals("Muž"))
                    {
                        <img src="@Url.Content("~/img/img_users/default_user_man.png")" alt="image_man" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/img/img_users/default_user_woman.png")" alt="image_man" />
                    }
                }
            </p>

        </div>
        <div class="col-lg-5">



            <h3 class="media-heading">@Model.Jmeno @Model.Prijmeni </h3>


            <h4><strong>Podrobnosti: </strong></h4>
            <hr>
            <h5><small><b>Pixel Free body: @ViewBag.Pixels.PocetPixelFreeBodu </b> </small></h5>

            <h5>
                <small>Uživatelské jméno: @Model.Email</small>
            </h5>
            <h5>
                <small><b>Oprávnění uživatele: @Model.Opravneni.Sopravneni</b></small>
            </h5>
            <h5>
                <small>Vaše heslo: ********</small>
            </h5>

            <h5>
                <small>Stát: Česká Republika</small>
            </h5>
            <h5>
                <small>Pohlaví: @Model.Pohlavi</small>
            </h5>

            <hr>



            <div class="container-fluid">
                <div class="col">
                    <h4><strong>Nastavení: </strong></h4>

                    <div class="col-lg-5 mt-3">
                        @Ajax.ActionLink("Fotografie", "Fotog", new { }, new AjaxOptions() { UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow" }, new { @class = "btn btn-primary" })

                    </div>


                    <div class="col-lg-5 mt-3">
                        @Ajax.ActionLink("Informace", "Infos", new { }, new AjaxOptions() { UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow" }, new { @class = "btn btn-primary" })

                    </div>


                    <div class="col-lg-5 mt-3">
                        @Ajax.ActionLink("Heslo", "Heslo", new { }, new AjaxOptions() { UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow" }, new { @class = "btn btn-primary" })

                    </div>
                    <div class="col-lg-5 mt-3">
                        @Ajax.ActionLink("VIP přístup", "VIP", new { }, new AjaxOptions() { UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow" }, new { @class = "btn btn-danger" })

                    </div>

                </div>
            </div>






        </div>

    </div>
</div>


<script type="text/javascript">
    function openModalWindow() {
        $('#myModal').modal({
            show: true
        });
    }
</script>