﻿@using DataAccess.Model
@model Zakaznik


<h2>
    <strong>Editace hesla:</strong>
</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("UpdateH", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(Id => Model.Id)




    <div class="form-group ">
        <label class="control-label">Heslo staré:</label>
        <div class="col-sm-10">

            @Html.TextBox("PasswordOld", null,new{ type = "password" })


        </div>
    </div>

    <div class="form-group ">
        <label class="control-label">Heslo nové:</label>
        <div class="col-sm-10">

            @Html.TextBox("PasswordNew", null, new { type = "password" })


        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Potvrdit</button>
        </div>
    </div>
}