﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}





<link href="@Url.Content("~/Content/business-casual.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet">

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Přihlásit se</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="@Url.Action("Remember", "Login")">Zapomněli jste heslo?</a></div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                @if (TempData["error"] != null)
                {
                    <strong>@TempData["error"]</strong>
                }
                else
                {
                    <p style="margin-bottom: 15px">Přihlášením dostáváte hromadu výhod!</p>


                }
                @using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @class = "form-horizontal", id = "loginform" }))
                {

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" class="form-control" name="login" placeholder="Přihlašovací Email">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="Heslo">
                    </div>


                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="login-remember" type="checkbox" name="remember" value="1"> Zapamatovat
                            </label>
                        </div>
                    </div>

                    <div style="margin-top: 10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-3 controls">
                            <button class="btn btn-info" type="submit" >Přihlásit se</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid #888; padding-top: 15px; font-size: 105%">
                                Pokud stále u nás nemáte registraci

                                <a href="@Url.Action("SignUp")">
                                    <p>Zaregistrujte se u nás</p>
                                </a>

                            </div>
                        </div>
                    </div>

                }
                    <a class="btn btn-info" href="@Url.Action("Index","Home")">Zpět na web</a>
            </div>
        </div>
    </div>


</div>

<script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>