﻿@using DataAccess.Model
@model IList<Objednavka>

@{
    ViewBag.Title = "title";
}

<h2>Moje objednávky</h2>


<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>

            <th>Evidované číslo objednávky</th>
            <th>Automobil</th>
            <th>Cena automobilu</th>
            <th>Datum</th>
            <th>Příslušenství</th>
            <th>Jméno a přijmení zaměstnance</th>
            <th>Pobočka</th>



        </tr>
    </thead>
    <tbody>
        @foreach (Objednavka a in Model)
        {
            <tr>

                <td>@a.Id</td>


                @if (a.Auto != null)
                {
                    <td>@a.Auto.ModelAZnacka</td>
                    <td>@a.Auto.Cena.ToString("C0")</td>

                }
                else
                {
                    <td></td>
                    <td></td>
                }

                <td>@a.Datum.Day/@a.Datum.Month/@a.Datum.Year</td>
                <td>
                    @if (a.Prislusenstvi != null)
                    {
                        @a.Prislusenstvi.Nazev
                    }

                </td>
                <td>@a.Zamestnanec.Jmeno @a.Zamestnanec.Prijmeni</td>
                <td>@a.Zamestnanec.Pobocka.Nazev</td>


            </tr>
        }
    </tbody>
</table>
