﻿@model DataAccess.Model.Zakaznik

@{
    ViewBag.Title = "Remember";
    Layout = null;
    IList<String> categories = new List<string>();
    categories.Add("Muž");
    categories.Add("Žena");

}
<link href="@Url.Content("~/Content/business-casual.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet">

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Zapomenuté heslo</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                @if (TempData["error"] != null)
                {
                    <strong>@TempData["error"]</strong>
                }
      
                <p>Zadejte prosím váš Email a nové heslo</p>

                @Html.ValidationSummary()

                @using (Html.BeginForm("Remember", "Login", FormMethod.Post, new { @class = "form-horizontal", id = "loginform", enctype = "multipart/form-data" }))
                {


                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Přihlašovací Email" })
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                    <p>Zde si prosím zvolte bezpečné heslo</p>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Heslo", type = "password" })
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                    <p>Zadejte svoje osobní údaje</p>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(x => x.Jmeno, new { @class = "form-control", placeholder = "Jméno" })
                        @Html.ValidationMessageFor(x => x.Jmeno)
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(x => x.Prijmeni, new { @class = "form-control", placeholder = "Přijmení" })
                        @Html.ValidationMessageFor(x => x.Prijmeni)
                    </div>





                    <div style="margin-top: 10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button id="btn-login" type="submit">Obnovit</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid #888; padding-top: 15px; font-size: 105%">
                                <a href="@Url.Action("Index")">
                                    <p>Chci se zkusit přihlásit</p>
                                </a>

                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>


</div>

<script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>