﻿@using DataAccess.Model
@model DataAccess.Model.Zakaznik

@{
    ViewBag.Title = "Sign Up";
    Layout = null;
    IList<String> categories = new List<string>();
    categories.Add("Muž");
    categories.Add("Žena");

}


<link href="@Url.Content("~/Content/business-casual.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet">

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Registrace uživatele</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                @if (TempData["error"] != null)
    {
            <strong>@TempData["error"]</strong>
}
else
{
            <p>Registrací dostáváte hromadu výhod!</p>

}
                <p>Jako přihlašovací jméno poslouží váš Email</p>
                @Html.ValidationSummary()

                @using (Html.BeginForm("SignUp", "Login", FormMethod.Post, new { @class = "form-horizontal", id = "loginform", enctype = "multipart/form-data" }))
    {

            <p class="text-danger"> @Html.ValidationMessageFor(x => x.Email)</p>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Přihlašovací Email" })

            </div>
            <p>Zde si prosím zvolte bezpečné heslo</p>
            <p class="text-danger">@Html.ValidationMessageFor(x => x.Password)</p>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Heslo", type = "password" })

            </div>
            <p>Zadejte svoje osobní údaje</p>

            <p class="text-danger">@Html.ValidationMessageFor(x => x.Jmeno)</p>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                @Html.TextBoxFor(x => x.Jmeno, new { @class = "form-control", placeholder = "Jméno" })

            </div>

            <p class="text-danger">@Html.ValidationMessageFor(x => x.Prijmeni)</p>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                @Html.TextBoxFor(x => x.Prijmeni, new { @class = "form-control", placeholder = "Přijmení" })

            </div>

            <p class="text-danger">@Html.ValidationMessageFor(x => x.Psc.Psc)</p>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                @Html.TextBoxFor(x => x.Psc.Psc, new { @class = "form-control", placeholder = "Poštovní směrovací číslo" })

            </div>

           
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.DropDownList("Pohlavi", new SelectList(categories), new { @class = "form-control" })
                </div>




                <div style="margin-top: 10px" class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <button id="btn-login" type="submit">Registrovat</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="border-top: 1px solid #888; padding-top: 15px; font-size: 105%">
                            Registrací souhlasíte se zpracováním vaších údajů.

                            <a href="@Url.Action("Index")">
            <p>Přecijen mám registraci, chci se přihlásit</p>
            </a>

            </div>
                </div>
            </div>

}

            </div>
        </div>
    </div>


</div>

<script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>