﻿@using DataAccess.Model
@model Code

@{
    ViewBag.Title = "title";
}

@Html.ValidationSummary()

@using (Html.BeginForm("UpdateV", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(Id => Model.Id)

    <p>VIP heslo slouží jako jednoznačný identifikátor pro naprosto bezlimitní přístup.</p>
    <p>Zároveň je vstupenka do světa slev. Získáte slevu při koupi automobilu až 15%</p>


    <div class="form-group ">
        <label class="control-label">Zadejte VIP heslo:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Scode)


        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Potvrdit</button>
        </div>
    </div>
}