﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PIXEL cars - Vaše prodejna</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="@Url.Content("~/Content/business-casual.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet">
    <link href="@Url.Content("~/img/favicon.ico")" rel="icon">
    
    

    <script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")"></script>
    




</head>

<body>

    <!--<h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-lower">PIXEL cars</span>

        <span class="site-heading-upper text-primary m-3">Vaše prodejna automobilů</span>

    </h1> -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Automobily</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-2 @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index", "Home")">
                            Všeobecný přehled
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>


                    <li class="nav-item dropdown px-lg-2 @(ViewContext.RouteData.Values["Controller"].ToString() == "Database" ? "active" : "")">
                        <a class="nav-link text-uppercase" href="@Url.Action("Index", "Database")">Databáze</a>
                        <div class="dropdown-content">
                            <a class="nav-link text-uppercase" href="@Url.Action("Objednavky", "Database")">Objednávky</a>
                            <a class="nav-link text-uppercase" href="@Url.Action("Testovaci", "Database")">Testovací jízdy</a>
                            <a class="nav-link text-uppercase" href="@Url.Action("Pobocky", "Database")">Pobočky</a>
                            <a class="nav-link text-uppercase" href="@Url.Action("Zakaznici", "Database")">Zákazníci</a>
                            <a class="nav-link text-uppercase" href="@Url.Action("Zamestnanci", "Database")">Zaměstnanci</a>
                            <a class="nav-link text-uppercase" href="@Url.Action("Auta", "Database")">Automobily</a>
                            <a class="nav-link text-uppercase" href="@Url.Action("Prislusenstvi", "Database")">Příslušenství</a>

                        </div>
                    </li>

                    <li class="nav-item px-lg-2 @(ViewContext.RouteData.Values["Controller"].ToString() == "Options" ? "active" : "")">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index", "Options")">Nastavení webu</a>
                    </li>

                    <li class="nav-item px-lg-2 @(ViewContext.RouteData.Values["Controller"].ToString() == "Gallery" ? "active" : "")">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Automobil", "Gallery")">Fotografie automobilů</a>
                    </li>

                    <li class="nav-item px-lg-2 @(ViewContext.RouteData.Values["Controller"].ToString() == "AdminOptions" ? "active" : "")">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index", "AdminOptions")">Nastavení administrátora</a>
                    </li>
                    <li class="nav-item px-lg-2)">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Logout", "Home")">Odhlásit se</a>
                    </li>





                </ul>

            </div>
        </div>
    </nav>


        <h1 class="site-heading text-center text-white d-none d-lg-block">
            <span class="site-heading-lower">PIXEL cars</span>

            <span class="site-heading-upper text-primary m-3">Vaše prodejna automobilů</span>

        </h1>



    <section class="page-section cta col-xl-9 mx-auto rounded">
        <div class="container-fluid">


            <div class="cta-inner rounded">

                @RenderBody()
            </div>
        </div>
    </section>



    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">&copy; Pixel Cars 2018</p>
            <small>V případě nefunkčnosti některé z částí, prosím kontaktujte naše IT oddělení.</small>

        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>



</body>

</html>
