﻿@using DataAccess.Model
@model  Auto

<div class="container">


    <div class="wrapper row">
        <div class="preview mb-2">

            <div class="preview-pic tab-content">

                @{
                    IList<String> img = new List<string>();
                    String first = "~/img/one.jpg";

                    if (ViewBag.Photo.Count != null)
                    {
                        foreach (var photo in ViewBag.Photo as List<ImageAuto>)
                        {

                            if (photo.SIsFirst)
                            {
                                first = "~/img/img_cars/" + photo.ImageName;
                            }
                            else
                            {
                                img.Add("~/img/img_cars/" + photo.ImageName);

                            }

                        }

                    }


                }


                <div class="tab-pane active" id="pic-1"><img src="@Url.Content(first)" /></div>
                @switch (img.Count)
                {
                    case 1:
                        <div class="tab-pane" id="pic-2"><img src="@Url.Content(img[0])" /></div>
                        <div class="tab-pane" id="pic-3"><img src="@Url.Content("~/img/one.jpg")" /></div>
                        <div class="tab-pane" id="pic-4"><img src="@Url.Content("~/img/one.jpg")" /></div>
                        <div class="tab-pane" id="pic-5"><img src="@Url.Content("~/img/one.jpg")" /></div>

                        break;

                    case 2:
                        <div class="tab-pane" id="pic-2"><img src="@Url.Content(img[0])" /></div>
                        <div class="tab-pane" id="pic-3"><img src="@Url.Content(img[1])" /></div>
                        <div class="tab-pane" id="pic-4"><img src="@Url.Content("~/img/one.jpg")" /></div>
                        <div class="tab-pane" id="pic-5"><img src="@Url.Content("~/img/one.jpg")" /></div>break;

                    case 3:
                        <div class="tab-pane" id="pic-2"><img src="@Url.Content(img[0])" /></div>
                        <div class="tab-pane" id="pic-3"><img src="@Url.Content(img[1])" /></div>
                        <div class="tab-pane" id="pic-4"><img src="@Url.Content(img[2])" /></div>
                        <div class="tab-pane" id="pic-5"><img src="@Url.Content("~/img/one.jpg")" /></div>break;
                    case 4:
                        <div class="tab-pane" id="pic-2"><img src="@Url.Content(img[0])" /></div>
                        <div class="tab-pane" id="pic-3"><img src="@Url.Content(img[1])" /></div>
                        <div class="tab-pane" id="pic-4"><img src="@Url.Content(img[2])" /></div>
                        <div class="tab-pane" id="pic-5"><img src="@Url.Content(img[3])" /></div>break;
                    default:
                        <div class="tab-pane" id="pic-2"><img src="@Url.Content("~/img/one.jpg")" /></div>
                        <div class="tab-pane" id="pic-3"><img src="@Url.Content("~/img/one.jpg")" /></div>
                        <div class="tab-pane" id="pic-4"><img src="@Url.Content("~/img/one.jpg")" /></div>
                        <div class="tab-pane" id="pic-5"><img src="@Url.Content("~/img/one.jpg")" /></div>
                        break;
                }



                <ul class="preview-thumbnail nav nav-tabs">

                    <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="@Url.Content(first)" /></a></li>
                    @switch (img.Count)
                    {
                        case 1:
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="@Url.Content(img[0])" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img src="@Url.Content("~/img/one.jpg")" /></a></li>
                            <li><a data-target="#pic-4" data-toggle="tab"><img src="@Url.Content("~/img/one.jpg")" /></a></li>
                            <li><a data-target="#pic-5" data-toggle="tab"><img src="@Url.Content("~/img/one.jpg")" /></a></li>

                            break;

                        case 2:
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="@Url.Content(img[0])" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img src="@Url.Content(img[1])" /></a></li>
                            <li><a data-target="#pic-4" data-toggle="tab"><img src="@Url.Content("~/img/one.jpg")" /></a></li>
                            <li><a data-target="#pic-5" data-toggle="tab"><img src="@Url.Content("~/img/one.jpg")" /></a></li>break;

                        case 3:
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="@Url.Content(img[0])" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img src="@Url.Content(img[1])" /></a></li>
                            <li><a data-target="#pic-4" data-toggle="tab"><img src="@Url.Content(img[2])" /></a></li>
                            <li><a data-target="#pic-5" data-toggle="tab"><img src="@Url.Content("~/img/one.jpg")" /></a></li>break;
                        case 4:
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="@Url.Content(img[0])" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img src="@Url.Content(img[1])" /></a></li>
                            <li><a data-target="#pic-4" data-toggle="tab"><img src="@Url.Content(img[2])" /></a></li>
                            <li><a data-target="#pic-5" data-toggle="tab"><img src="@Url.Content(img[3])" /></a></li>break;
                        default:
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="@Url.Content("~/img/one.jpg")" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img src="@Url.Content("~/img/one.jpg")" /></a></li>
                            <li><a data-target="#pic-4" data-toggle="tab"><img src="@Url.Content("~/img/one.jpg")" /></a></li>
                            <li><a data-target="#pic-5" data-toggle="tab"><img src="@Url.Content("~/img/one.jpg")" /></a></li>
                            break;
                    }



                </ul>
            </div>
        </div>
        <div class="details">
            <h3 class="product-title">@Model.Znacka.Sznacka @Model.Model</h3>


            <h4 class="price">Cena: <span>@Model.Cena.ToString("C0")</span></h4>


            <!-- Details of the car -->
            <div class="row">
                <div class="col">
                    <p><strong>Rok výroby:</strong> @Model.RokVyroby.Day/@Model.RokVyroby.Month/@Model.RokVyroby.Year</p>
                    <p><strong>Typ karoserie:</strong> @Model.TypKaroserie </p>
                    <p><strong>Max. rychlost:</strong> @Model.MaxRychlost <strong>km/h</strong></p>
                    <p><strong>Tachometr:</strong> @Model.Najeto.ToString("N0") <strong>km</strong></p>
                </div> <div class="col">
                    <p><strong>Objem:</strong> @Model.Objem</p>
                    <p><strong>Výkon:</strong> @Model.Vykon <strong>kW</strong></p>
                    <p><strong>Palivo:</strong> @Model.Palivo </p>
                    <p><strong>Země původu:</strong> @Model.Zeme.ZemePuvodu</p>
                </div>
            </div>
            <p>
                <strong>Barva:</strong>
                <span class="rounded color @Model.Barva" data-toggle="tooltip"></span>
            </p>
            <!-- End details-->

            <p>@Model.Popis</p>
            
            
          @if (User.Identity.IsAuthenticated)
          {
              <div class="row justify-content-between">
                  <div class="col-lg-4">
                      <a href="@Url.Action("Testovat", new{ Model.Id})" class="add-to-cart btn btn-default">Objednat si testovací jízdu</a>
                  </div>
                  <div class="col-lg-4">
                      <a href="@Url.Action("Objednat", new { Model.Id})" class="add-to-cart btn btn-default">Objednat si automobil</a>
                  </div>
              </div>

          }
    
       
            
            
            
            

        </div>
    </div>


</div>


