﻿@using DataAccess.Model
@model IList<Auto>

@if (TempData["message-success"] != null)
{
    <div class="alert alert-success">
        <strong>Výborně!</strong> Objednávka byla úspěšně odeslána.
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <strong>Jejda!</strong> Objednávka nebyla odeslána, zkontrolujte vaše údaje.
    </div>
}


<div class="row justify-content-between">
    <div class="col-6">
        <h1>Nabídka automobilů</h1>

    </div>
    <div class="col-4">
        @if (ViewBag.Pages != null)
        {
            <div class="float-right">
               <a> Aktuální stránka: </a>
                <ul class="pagination">

                    @for (int i = 1; i <= ViewBag.Pages; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")"><a class="page-link" href="@Url.Action("Index", "Cars", new {page = i})">@i</a></li>
                    }

                </ul>

            </div>
       
        }
    </div>

</div>






@foreach (Auto a in Model)
{

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">

                    <div class="bg-faded p-5 d-flex ml-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">@a.Znacka.Sznacka </span>
                            <span class="section-heading-upper ">@a.Model</span>
                        </h2>
                    </div>
                </div>                    @{Html.RenderAction("ImageRender", "Cars", new { a.Id });}

                <div class="product-item-description d-flex mr-auto">

                    <div class="bg-faded p-3 rounded">
                        <p>
                            @a.Popis.Substring(0, 100) ...
                        </p>
                        <p class="font-weight-bold float-left">Cena:  <span class="font-italic"> @a.Cena.ToString("C0")</span></p>
                        <p class="font-weight-bold text-right">Dostupnost:  <span style="color:green"class="font-bold"> Ihned k odběru</span></p>

                        <p>
                            <div class="clearfix"></div>
                            <a class="btn btn-primary float-lg-right" href="@Url.Action("Detail", "Cars", new {id = a.Id})">Více informací o automobilu</a>

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>







}
@if (ViewBag.Pages != null)
{
    <div class="container">
        <div class="float-lg-right">
            <a>Stránka:</a>
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.Pages; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")"><a class="page-link" href="@Url.Action("Index","Cars", new{page=i})">@i</a></li>
                }
            </ul>

        </div>
    </div>
    <div class="pb-5"></div>

}





