﻿
@if (TempData["message-success"] != null)
{
    <div class="alert alert-success">
        <strong>Výborně!</strong> Vaše zpráva byla úspěšně odeslána.
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <strong>Jejda!</strong> Zpráva nebyla odeslána, zkontrolujte vaše údaje.
    </div>
}

<h1 class="title">Pixel Cars - Praha, Kunratice</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 p-lg-5">

            Kunratická spojka 1025, Praha 4<br>
            <b style="font-size: 15px; line-height: 25px;">VOLEJTE ZDARMA 776 01 00 50</b><br>
            E-mail: <a href="mailto:pixel@web.cz">pixel@web.cz</a><br>
            Telefon pro administrativu prodeje: 681 914 685<br>
            Fax: 388 914 685
            <h3>Otevírací doba</h3>
            <ul>
                <li>pondělí-neděle : 09:00 - 21:00</li>
                <li>po dohodě je možno kdykoliv</li>
            </ul>

        </div>



        <div class="col-md-6">



            @using (Html.BeginForm("Mail", "Contact", FormMethod.Post, new { @class = "form-horizontal" }))
            {


                <div class="form-group">

                    <label for="exampleInputName2">Jméno</label>

                    <input name="name" type="text" class="form-control" id="exampleInputName2" placeholder="Jan">

                </div>

                <div class="form-group">

                    <label for="exampleInputEmail2">Váš email</label>

                    <input name="mail" type="email" class="form-control" id="exampleInputEmail2" placeholder="JanNovak@seznam.cz">

                </div>

                <div class="form-group ">

                    <label for="exampleInputText">Vaše zpráva</label>

                    <textarea name="content" class="form-control" placeholder="Napište nám něco pěkného"></textarea>

                </div>

                <button type="submit" class="btn btn-default">Odeslat zprávu</button>



            }



        </div>
    </div>
    <hr>
</div>


<iframe width="100%" height=300px frameborder="0 " style="border:0 " src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBad634jwI71kOmVuz_POUGm2oeO6BtSwQ&q=Kunratickáspojka1025,Praha4 "
        allowfullscreen></iframe>
